/* You can add global styles to this file, and also import other style files */
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  border: 0;
  padding: 0;
  margin: 0px;
}

html,
body  {
  min-height: 100%;
}

body {
  background-image: url("https://bit.ly/2sHsQdc");
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
}

p {
  text-align: justify;
  text-indent: 50px;
  text-align: center;
}

strong {
  color: #de1616;
}

li {
  margin-left: 25px;
  padding-bottom: 5px;
  text-align: left;
}

h1  {
  margin-top: 80px;
  text-align: center;
  text-shadow: 2px -2px #000000;
}
h2  {
  margin-top: 10px;
  padding: 10px;
  text-shadow: 1px -1px #000000;
}

  button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 50% 10px 50%;
    text-align: center;
  }
  .step {
    padding: 20px;
    text-align: center;
    display: none;
    &:nth-child(odd) {
      background-image: url("https://bit.ly/2sHsQdc");
      color: #ffffff;
      button {
        background-color: #ffffff;
        color: #333;
      }
    }
    &:nth-child(even) {
      background-image: url("https://bit.ly/2sHsQdc");
      color: #ffffff;
      button {
        background-color: #ffffff;
        color: #ff0000;
      }
    }
    &.step-0 {
      display: block;
      button {
        float: none;
        margin: 0;
      }
    }
  }

  .pile {
    max-width: 50%;
    margin: 20px auto;
  }

  .cards {
    margin: 0 auto;
    max-width: 420px;
  }

  .card {
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
    width: 50px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 75px;
    box-shadow: 2px 2px 1px #666, inset 2px 2px 1px #aaa;
    &.red {
      color: #ff0000;
    }
    &.black {
      color: #000000;
    }
  }

  #final_cards {
    width: 100px;
    margin: 0 auto;
    div {
      width: 50px;
      display: inline-block;
      line-height: 75px;
      text-align: center;
      margin: 0px 0px 5px 0px;
      &:nth-child(1) {
        color: #ffffff;
        font-size: 20px;
      }
    }
  }
  .your_number {
    color: #f00;
    font-weight: #ffffff;
  }

  .show {
    transition: opacity 400ms;
  }
  .hide {
    opacity: 0;
  }
